<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/vendor.css">
        <link rel="stylesheet" href="css/app.css">
        <title>Página para hacer pruebas de prospectos de awplatform</title>
    </head>
    <body>
        <div class="container">
            <div class="" id="app">
                <form action="index.html" method="post"
                    @submit.prevent="onSubmit"
                    @change="form.errors.clear($event.target.name)"
                    @keydown="form.errors.clear($event.target.name)"
                    @input="form.errors.clear($event.target.name)">

                    <div class="form-group">
                        <label for="pagina">Página</label>
                        <input v-model="form.url" id="pagina" type="text" class="form-control" placeholder="Digite página" aria-describedby="paginaHelp">
                        <small id="paginaHelp" class="form-text text-muted">Página con lo que se va a hacer la prueba</small>

                        <div class="text-danger" v-if="form.errors.has('url')">
                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('url') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input v-model="form.nombre" id="nombre" type="text" class="form-control" placeholder="Digite nombre">

                        <div class="text-danger" v-if="form.errors.has('nombre')">
                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('nombre') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input v-model="form.email" id="email" type="text" class="form-control" placeholder="Digite email">

                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input v-model="form.telefono" id="telefono" type="text" class="form-control" placeholder="Digite teléfono">

                        <div class="text-danger" v-if="form.errors.has('telefono')">
                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('telefono') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pais">País</label>
                        <select id="pais" class="form-control" name="pais" v-model="form.pais">
                            <option value="USA">USA</option>
                            <option value="MEX">México</option>
                            <option value="COL">Colombia</option>
                            <option value="ECU">Ecuador</option>
                            <option value="ARG">Argentina</option>
                            <option value="CHL">Chile</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <input v-model="form.mensaje" id="mensaje" type="text" class="form-control" placeholder="Digite mensaje">
                    </div>

                    <div class="form-group">
                        <label for="origen">Origen</label>
                        <select id="origen" class="form-control" name="l_lead_type" v-model="form.l_lead_type">
                            <option value="1">Formulario landing</option>
                            <option value="2">Facebook</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="button" class="btn btn-default" :disabled="form.errors.any()" value="Enviar">
                    </div>
                    <div class="form-group text-success" v-if="submitingSuccess"> {{ submitingSuccess }} </div>
                    <div class="form-group text-danger" v-if="submitingError"> {{ submitingError }} </div>
                </form>
            </div>
        </div>

        <script src="./js/manifest.js"></script>
        <script src="./js/vendor.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>
